{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": {{ xray_vless_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ xray_vless_uuid }}",
            "flow": "{{ xray_vless_flow }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_reality_dest }}",
          "xver": 0,
          "serverNames": {{ xray_reality_server_names | to_json }},
          "privateKey": "{{ xray_reality_private_key }}",
          "shortIds": {{ xray_reality_short_ids | to_json }}
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
