Unattended-Upgrade::Origins-Pattern {
{% for origin in unattended_upgrades_origins %}
    "{{ origin }}";
{% endfor %}
};

Unattended-Upgrade::Automatic-Reboot "{{ 'true' if unattended_upgrades_auto_reboot else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_auto_reboot_time }}";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::MailOnlyOnError "true";

APT::Periodic::RandomSleep "0";
